.intro {
    background: url('https://www.thoughtco.com/thmb/wwxXFI1_E6XAmSclrM-SXHuGvjs=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/student-writing-589b4b813df78caebcb4396c.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  /* border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%; */
}
